.nav-menu:not(.open) {
  /* display: none; */
  height: 100%;
  width: 16rem;
  transform: translateX(100%);
  transition: all 0.4s ease;
  transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.nav-menu.open {
  /* display: flex; */
  transition: all 0.4s ease;
  transform: translateX(0);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 16rem;
  /* background-color: white; */
  user-select: none;
  padding: 1rem;
  transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
